:root {
  --color-primary: #242424;
  --white: #f7f8fc;
  --green: #8aa43c;
  --green-dark: #586927;
  --font-family: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
}

h1,
th,
td,
p,
label {
  color: var(--white);
  font-family: var(--font-family);
}

.container {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  margin-top: 2rem;
}

.header__title {
  margin-bottom: 1rem;
}

.header__about {
  opacity: 0.7;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 0;
}

.navbar__pagination {
  display: flex;
  gap: 0.5rem;
}

.navbar__searchbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar__searchbar__label {
  font-size: 1rem;
}

.navbar__searchbar__input {
  height: 30px;
  width: 360px;
  padding: 8px;
}

.navbar__filters__select {
  background-color: var(--color-primary);
  color: var(--white);
  border: 1px var(--white) solid;
  border-radius: 5px;
  padding: 0.5rem;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--green-dark);
}

.countries {
  width: 100%;
}

table {
  border-spacing: 0;
  border: 1px solid var(--white);
  width: 100%;
}

thead {
  background-color: var(--green);
  color: var(--white);
}

th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.center {
  display: grid;
  place-items: center;
}

.country {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.country__content {
  color: var(--color-primary);
  text-align: justify;
}

.close-modal {
  background-color: var(--green);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
  margin: 1rem auto 0;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
